$smaller: 480px;
$medium: 768px;
$large: 1024px;

@mixin for-greater-than-smaller {
  @media (min-width: $smaller) {
    @content;
  }
}

@mixin for-greater-than-medium {
  @media (min-width: $medium) {
    @content;
  }
}
@mixin for-greater-than-large {
  @media (min-width: $large) {
    @content;
  }
}


.hero{
    // height: 100vh;
    // height: calc(100vh - 12rem);
    background: #181818;
    padding: 5rem 0rem;

    @include for-greater-than-large(){
        // height: calc(100vh - 20rem);
        padding: 5rem 0rem 10rem 0rem;
        // border: 1px solid red;
    }
    

    .container{
        width: 100%;
        height: 100%;
      
        .content{
            width: 100%;
            height: 100%;
            padding:5rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

            @include for-greater-than-large(){
                flex-direction: row;
                gap: 4rem;
            }


            .left{
                flex: 1;
                
                .image-container {
                    width: 100%;
                   
                    > div {
                    position: unset !important;
                    }
                
                    .image {
                    object-fit: contain;
                    width: 100% !important;
                    position: relative !important;
                    height: unset !important;
                    }
                }
            }

            .right{
                flex: 1;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 4rem;

                .headings{

                    h1{
                        font-size: 5rem;
                        font-weight: 700;
                        line-height: 5.8rem;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }

                .text{
                    display: flex;
                    flex-direction: column;

                    gap: 2rem;

                    p{
                        font-size: 2.2rem;
                        font-weight: 400;
                        line-height: 2.9rem;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }
            }
        }    
    }

    .virtual-party{
        padding: 5rem;
        // padding-top: 10rem;
    
        .container{
            display: flex;
            flex-direction: column;
            gap: 4rem;
    
            h2{
                font-size: 5rem;
                font-weight: 700;
                line-height: 5.8rem;
                letter-spacing: 0em;
                text-align: left;
    
            }
    
            p{
                 font-size: 2.2rem;
                font-weight: 400;
                line-height: 2.9rem;
                letter-spacing: 0em;
                text-align: left;
            }
    
        }
    }

    .platform{

        h5{
            font-size: 1.5rem;
            padding: 0rem 5rem;
            font-weight: normal;
            color: gray;
            @include for-greater-than-medium(){
                padding: 5rem;
            }
        }
        ul{

        display: grid;
        grid-template-columns: repeat(2, 1fr);



        @include for-greater-than-smaller(){
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-greater-than-medium(){
            grid-template-columns: repeat(4, 1fr);
        }
     

        @include for-greater-than-large(){
            grid-template-columns: repeat(6, 1fr);
        }
     
        li{
         
            .image-container {

                width: 100%;

                padding: 5rem;
                > div {
                  position: unset !important;
                }
              
                .image {
                  object-fit: contain;
                  width: 100% !important;
                  position: relative !important;
                  height: unset !important;
                }
              }

        }
    }

    }
}


